.logo_img{
    max-width: 50px;
}

.banner_height{
    max-height: 600px;
}
.fullbackground{
    background-color: darkslateblue;
}
#galeria .col-lg-4{
    padding: 10px;
}
#galeria img{
    width: 100%;
    height: 250px;
}
#galeria img:hover{
    border: 5px solid black
}